/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.main_layout {
	text-align: center;
	background-color: #fbfbfb;
	padding: 5px;
	width: 700px;
	margin: 5px auto 5px auto;
}
.alert {
	text-align: center;
	color: #f00;
	font-size: 16px;
}
.notice {
	text-align: center;
	color: #070;
	font-size: 16px;
}